<div id="<%= dom_id question %>">
  <p>
    <strong>Question text:</strong>
    <%= question.question_text %>
  </p>

  <p>
    <strong>Question title:</strong>
    <%= question.question_title %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= question.type %>
  </p>

</div>
