<div id="<%= dom_id profile %>">
<%= link_to(edit_profile_path) do %>
  <p class="text-center" >
    <img  src=" <%= profile.image %> " style="width: 500px; height : 500px" class="rounded" alt="..." style="width: 500px; height: 500px;">
  </p>
<% end %>
</div>
