<h1>Editing timetable</h1>

<%= render "form", timetable: @timetable %>

<br>

<div>
  <%= link_to "Show this timetable", @timetable %> |
  <%= link_to "Back to timetables", timetables_path %>
</div>
