<h1>Editing createclass</h1>

<%= render "form", createclass: @createclass %>

<br>

<div>
  <%= link_to "Show this createclass", @createclass %> |
  <%= link_to "Back to createclasses", createclasses_path %>
</div>
