<p style="color: green"><%= notice %></p>

<h1>Results</h1>

<div id="results">
  <% @results.each do |result| %>
    <%= render result %>
    <p>
      <%= link_to "Show this result", result %>
    </p>
  <% end %>
</div>

<%= link_to "New result", new_result_path %>
