<div id="<%= dom_id answer %>">
  <p>
    <strong>Answer text:</strong>
    <%= answer.answer_text %>
  </p>

  <p>
    <strong>Correct:</strong>
    <%= answer.correct %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= answer.points %>
  </p>

</div>
