<div id="<%= dom_id studentprofile %>">
  <%= link_to(edit_studentprofile_path) do %>
  <p class="text-center" >
    <img  src=" <%= studentprofile.image %> " class="rounded-circle account-img" alt="..." style="width: 500px; height: 500px;">
  </p>
<% end %>

</div>
