

<%= render "form", studentprofile: @studentprofile %>

<br>

<div>
  <%# <%= link_to "Show this studentprofile", @studentprofile %> |
  <%# <%= link_to "Back to studentprofiles", studentprofiles_path %> 
</div>
