<h1>Editing studentassingment</h1>

<%= render "form", studentassingment: @studentassingment %>

<br>

<div>
  <%= link_to "Show this studentassingment", @studentassingment %> |
  <%= link_to "Back to studentassingments", studentassingments_path %>
</div>
